.container {
    height: 100%;
    width: 100%;
    background-color: black;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}
.instinkt {
    padding-top: 30%;
}
.body {
    height=100%;
    width: 100%;
    background-color: white;
}
.landing {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    color: black;
    background-image: url(../images/board.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*
.instincts {
    margin-top: 10%;
}
*/

h5 {
    font-size: 200%;
}
h1 {
    font-size: 600%;
}
fa {
    height: 40px;
}

/* Small only */

@media screen and (max-width: 39.9375em) {
    fi
}

/* Medium and up */

@media screen and (min-width: 40em) {
    .x {
        font-size: 20px;
    }
}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}
@media screen and (min-width: 64em) {
    .fashion h1 {
        font-size: 12px;
    }
}
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
.row {
    max-width: 1350px;
}
.aboutrow {
    /*
   height: 100%;
  width: 100%;
*/
    background-color: black;
    color: white;
}
.about1 {
    width: 100%;
    height: 100%;
}
.columns {
    margin: 0;
    padding: 0;
}
.fashion {
    background-image: url(../images/fashion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
}
.about {
    height: 100%;
    width: 100%;
}
.servicephoto {
    background-image: url(../images/services.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding-top: 5%;
}

.servicesleft {
    background-color: black;
    color:white;
    height:100%;

}

.services {
    height:90%;
    background-color: black;


}

.client {
    height:100%;
    width:100%;
    background-color: white;

}
