.container {
    height: 100%;
    width: 100%;
    background-color: black;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}
.instinkt {
    padding-top: 30%;
}
.about {
    height: 100%;
    width: 100%;
    background-color: white;
}
.body {
    height=100%;
    width: 100%;
    background-color: white;
}
.landing {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    color: black;
    background-image: url(../images/board.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*
.instincts {
    margin-top: 10%;
}
*/

h5 {
    font-size: 200%;
}
h1 {
    font-size: 600%;
}
fa {
    height: 40px;
}

/* Small only */

@media screen and (max-width: 39.9375em) {
    fi
}

/* Medium and up */

@media screen and (min-width: 40em) {
    .x {
        font-size: 20px;
    }
}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */

@media screen and (min-width: 64em) {}

/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
.row {
    max-width: 1350px;
}
.row_column {}
