.container {
    height: 100%;
    width: 100%;
    background-color: black;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}
.instinkt {
    padding-top: 30%;
}
.body {
    height=100%;
    width: 100%;
    background-color: white;
}
.landing {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    color: black;
    background-image: url(../images/board.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*
.instincts {
    margin-top: 10%;
}
*/

h5 {
    font-size: 200%;
}
h1 {
    font-size: 600%;
}
fa {
    height: 40px;
}

/* Small only */

@media screen and (max-width: 39.9375em) {
    fi
}

/* Medium and up */

@media screen and (min-width: 40em) {
    .x {
        font-size: 20px;
    }
}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}
@media screen and (min-width: 64em) {
    .fashion h1 {
        font-size: 12px;
    }
}
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
.row {
    max-width: 1350px;
}
.aboutrow {
    /*
   height: 100%;
  width: 100%;
*/
    background-color: black;
    color: white;
}
.about1 {
    width: 100%;
    height: 100%;
}
.columns {
    margin: 0;
    padding: 0;
}
.fashion {
    background-image: url(../images/fashion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
}
.about {
    height: 100%;
    width: 100%;
    color:black;
}
.servicephoto {
    background-image: url(../images/services.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding-top: 5%;
}
.servicesleft {
    background-color: black;
    color: white;
    height: 100%;
}
.services {
    height: 90%;
    background-color: black;
}
.client {
    height: 50%;
    width: 100%;
    background-color: white;
    padding-top: 5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery {
    width: 100%;
    ;
    margin: 0 auto;
    padding: 5px;
    /*    background: #fff;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
.gallery > div {
    position: relative;
    float: left;
    padding: 5px;
}
.gallery > div > img {
    display: block;
    width: 300px;
    transition: .1s transform;
    transform: translateZ(0);
    /* hack */
}
.gallery > div:hover {
    z-index: 1;
}
.gallery > div:hover > img {
    transform: scale(1.7, 1.7);
    transition: .3s transform;
}
.cf:before,
.cf:after {
    display: table;
    content: "";
    line-height: 0;
}
.cf:after {
    clear: both;
}
.footer {
    height: 30%;
    width: 100%;
    background-color: black;
    color: white;
}

/*
h1 {
    margin: 40px 0;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
*/


/*gallery css*/

.image-container {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}
.image {
    width: 200px;
    height: 200px;
    z-index: 1;
    transition: all .5s;
}
.image img {
    max-width: 100%;
}
.caption {
    width: 200px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, .8);
    z-index: 2;
    font-weight: 300;
    transition: all .5s;
}
.caption-num1 {
    position: relative;
    height: 60px;
    padding: none;
    transform: rotate(45deg) translateY(-280px) translateX(-50%);
}
.bottom {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0;
}
.image-container-num1:hover .caption-num1 {
    transform: rotate(45deg) translateY(-200px) translateX(-50%)
}
.caption-num2 {
    transform: translateY(140px);
}
.image-container-num2:hover .image-num2 {
    opacity: .8;
    transform: translateY(-50%) translateY(0px);
}
.image-container-num2:hover .caption-num2 {
    transform: translateY(-37px);
}
.image-num3 img {
    max-width: none;
    max-height: 100%;
}
.image-num3 {
    direction: rtl;
}
.caption-num3 {
    opacity: 0;
    width: 300px;
    text-align: right;
    padding-right: 14px;
    transform: translateY(-100%);
}
.image-container-num3:hover .image-num3 {
    transform: translateX(50%);
}
.image-container-num3:hover .caption-num3 {
    opacity: 1;
    transform: translateY(-100%) translateX(-114px);
}
.image-container-num4:hover .image-num4 {
    transform: scale(1.5) rotate(-10deg);
}
.image-container-num4:hover .caption-num4 {
    transform: translateY(-100%);
}
.image-num5 img {
    max-width: none;
    transform: translateY(-50px) translateX(-50px);
}
.caption-num5 {
    transform: translateY(-100%);
    opacity: 0;
}
.image-container-num5:hover .image-num5 {
    transform: rotate(45deg);
}
.image-container-num5:hover .caption-num5 {
    opacity: 1;
}
.caption-num6 {
    transform: translateY(-200px) translateY(-100%);
}
.image-container-num6:hover .caption-num6 {
    transform: translateY(-200px);
}
.image-container-num6:hover .image-num6 {
    opacity: .5;
}
.caption-num7 {
    height: 400px;
    background: none;
    color: #333;
    font-size: 20px;
    opacity: 0;
}
.image-container-num7:hover .caption-num7 {
    opacity: 1;
    transform: translateY(-75%);
}
.image-container-num7:hover .image-num7 {
    transform: scale(1.5);
    opacity: .15;
}
.break {
    display: none;
}
@media all and (max-width: 650px) {
    .image-container {
        margin: 30px;
        outline: solid 20px #eee;
    }
    .break {
        display: initial;
    }
}
html,
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;
    /*  font-family: "Lato", Segoe UI, Helvetica, sans-serif;*/
    /*
  font-size: 14px;
  font-weight: 100;
*/
    color: #fff;
    /*    text-align: center;*/
}

/*
h2 {
  color: #333;
  font-size: 45px;
  margin: 32px;
}
*/
