.container {
    height: 100%;
    width: 100%;
    background-color: black;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}
.inc {
    padding-top: 5%;
}
.services {
    background-color: white;
    max-height: 50%;
    max-width: 100%;
}
inst {
    text-align: left;
}
.aboutheight {
    line-height: 40px;
    background-color: black;
    color: white;
}
.serviceright {
    background-color: black;
    color: white;
    height: 100%;
}

/*
.overlay {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    color: white;
}
*/

.body {
    height=100%;
    width: 100%;
}
.contact {
    height=100%;
    width=100%;
    background-color: black;
}
.aboutpic {}
.about {
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    /*    background-image: url(../images/landing.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5%;
    padding-left: 0%;
}
.landing {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    color: black;
    background-image: url(../images/board.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*
.instincts {
    margin-top: 10%;
}
*/

.title {
    padding-top: 15%;
    font-size: 25px;
    background-color: black;
    opacity: 0.9;
    color: white;
    max-width: 100%;
    max-height: 100%;
}
.perfume {
    padding-top: 10%;
}
.model {
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}
.model h1 {
    text-align: center;
}
.contacts {
    height: 30%;
    width: 100%;
    background-color: black;
    color: white;
}
.white {
    background-color: white;
}
.modell {
    height: 100%;
}
.quote {
    padding-top: 15%;
}
.quote2 {
    padding-top: 15%;
}
.image1 {
    background-image: url(../images/girl.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20%;
}
.bike {
    height: 100%;
    width: 100%;
    background-image: url(../images/bike.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.social {
    padding-top: 5%;
}
.quote1 {
    padding-top: 20%;
}
.keep {
    padding-top: 20%;
}
h5 {
    font-size: 200%;
}
h1 {
    font-size: 600%;
}
fa {
    height: 40px;
}

/* Small only */

@media screen and (max-width: 39.9375em) {
    fi
}

/* Medium and up */

@media screen and (min-width: 40em) {
    .x {
        font-size: 20px;
    }
}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */

@media screen and (min-width: 64em) {}

/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
.row {
    max-width: 1350px;
}
